<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Goodbye from example.com, <%= @user.firstname %></h1>
    <p>
      You have been successfully removed from example.com.<br>
    </p>

    <p>Thanks for leaving and have a great day!</p>
  </body>
</html>